<div id="<%= dom_id information %>">
  <p>
    <strong>First name:</strong>
    <%= information.First_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= information.Last_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= information.Phone_number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= information.Description %>
  </p>

</div>
